<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
	
	<link href="./styles/style.css" rel="stylesheet"/>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
{{{body}}}











<script src="/clientside-javascript/app.js"></script>
</body>
</html>