<h1> This is the register page</h1>

<div id="register">
<form action="/register" method="POST">
<input type="text" placeholder="Your Username" name="username"/>
<input type="text" placeholder="Your Password" name="password"/>
<input type="submit" value="Sign Up"/>
</form>

</div>