body {
  background-color: #778899;
}
h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  text-align: center;
  text-shadow: 1px 1px;
  border: 3px solid black;
  box-shadow: 5px 5px black;
}
h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
}
p {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  text-align: center;
}
img {
  display: block;
  height: 200px;
  width: 154px;
  margin-left: auto;
  margin-right: auto;
}
#login {
  margin-top: 25%;
  margin-left: 30%;
  font-family: 'Open Sans Condensed', sans-serif;
}
#login form {
  font-family: 'Open Sans Condensed', sans-serif;
  width: 100%;
  background-color: #778899;
  color: black;
  margin-right: 3px;
}
#register {
  margin-top: 25%;
  margin-left: 30%;
  font-family: 'Open Sans Condensed', sans-serif;
}
#register #register form {
  font-family: 'Open Sans Condensed', sans-serif;
  width: 100%;
  background-color: #778899;
  color: black;
  margin-right: 3px;
}
